@model IEnumerable<xbox_ps_mvc_project.Entities.GamesEntity>

<a asp-controller="Games" asp-action="AddGame" class="btn btn-primary">Add new game</a>

<div class="card-group">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card h-50" style="width: 18rem;">
                <img class="card-img-top" src="@item.PosterUrl" alt="@item.Title image" />
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <a class="btn btn-primary" asp-controller="Games" asp-action="GameDetails" asp-route-id="@item.Id">Look on Details</a>
                </div>

            </div>
        </div>
    }
</div>